
<guac-viewport>
    <!--<div class="display"></div>-->

    <!-- Client view -->
    <div class="client-view">
        <div class="client-view-content">

            <!-- Central portion of view -->
            <div class="client-body">

                <div class="client-main main"
                ng-class="{ 'drop-pending': dropPending }"
                guac-resize="mainElementResized"
                guac-touch-drag="clientDrag"
                guac-touch-pinch="clientPinch">
           
               <!-- Display -->
               <div class="displayOuter">
           
                   <div class="displayMiddle">
                       <div class="display software-cursor">
                       </div>
                   </div>
           
               </div>
           
           </div>
           
            </div>

        </div>
    </div>

</guac-viewport>
